.drawable-container {
    background-color: whitesmoke;
    border-radius: 1%;
    z-index: 10;
    display: block;
    width: 100%;
    border: 1px solid black;
}

.drawable-container > div {
    color: black;
    padding: 4.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.application-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.button-select-container {
    padding-bottom: 1em;
    display: inline-flex;
    flex-wrap: wrap;
}

.button-select-container > button {
    margin-right: 1em;
}

.title-container {
    font-family: Calibri, serif;
}

.title {
    color: red;
}

.subtitle {
    color: #16b4ff;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1em;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table td {
    border: 1px solid #333;
    height: 20px;
}